{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent"> 
    <img src="/static/img/people1.jpg" alt="people" class="center">
       <h1>  YANG YANG </h1>
        <h1>CEO</h1>

     <img src="/static/img/people3.jpg" alt="people" class="center">
     <h1>  SONG JOONG KI </h1> <h1>CFO </h1>

    <img src="/static/img/people5.jpg" alt="people" class="center">
       <h1>  LI XIAN </h1><h1>COO</h1>

    <img src="/static/img/people6.jpg" alt="people" class="center">
       <h1>  LEE MIN HO</h1><h1>CTO</h1>

    <img src="/static/img/people7.jpg" alt="people" class="center">
       <h1>  KIM SOO HYUN</h1><h1>CMO</h1>

    <img src="/static/img/people8.jpg" alt="people" class="center">
       <h1>  LEE JONG SUK</h1><h1>PRESIDENT</h1>

</div>
{% endblock  %}